dist
node_modules
.yarn
build
coverage
.solidpress
packages/solidpress/lib/
packages/solidpress-*/lib/*
packages/create-solidpress/lib/*
packages/create-solidpress/templates/*/solidpress.config.js
packages/eslint-plugin/lib/
__fixtures__

website/i18n
website/versions.json
website/solidpress.config.js
website/versioned_sidebars/*.json

demos/

