.navlink {
  display: flex;
  align-items: center;
  padding: var(--sp-navbar-item-padding-vertical) var(--sp-navbar-item-padding-horizontal);
  line-height: 16px;
}

.active {
  color: var(--sp-brand);
}

.navlink:hover {
  color: var(--sp-brand);
}